{erl_opts, [debug_info]}.

{deps,
 [
  jsone,
  lhttpc,
  erlcloud
 ]}.

{plugins, 
 [
  {covertool,
   {git, "https://github.com/covertool/covertool.git",
    {branch, master}}}
 ]}.

%% Profiles
{profiles,
 [{test,
  [{deps,
   [
    {meck, "0.8.12"},
    {cowboy, "2.6.1"},
    {uuid, "1.7.4", {pkg, uuid_erl}}]},
   {erl_opts, [debug_info, nowarn_export_all, export_all]}]}
 ]}.

{shell, [
 {apps, [erllambda]}
]}.

{cover_opts, [verbose]}.
{project_plugins, [covertool]}.
% Alternate form (w/o Hex):
% {project_plugins, [
%     {covertool, {git, "https://github.com/covertool/covertool.git", {branch, "master"}}}
% ]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata", "eunit.coverdata"]},
             {include_apps, [dep0, dep1]},
             {prefix_len, 2}]}. % Optional: Use module prefix as (imaginary) package name

{ct_opts,
 [{logdir, "logs"}]}.

{dialyzer, [
    {warnings, [ race_conditions,
                 no_return,
                 error_handling
               ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [erts, kernel, stdlib]},
    {plt_location, local},
    {base_plt_apps, [stdlib, kernel]},
    {base_plt_location, global}
]}.
